/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#title, #subtitle {
  text-align: center;
}

/* MENU */

#menu {
  background-color: #282c34;
}

#navbar {
  margin-top: 0px;
  padding: .25rem;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#navbar > li {
  border: 1px solid #282c34;
  width: 10rem;
  text-align: center;
}

#navbar > li > a {
  color: gainsboro;
  text-decoration: none;
}

#navbar > li:hover {
  border: 1px solid gainsboro;
  color: white;
}

/* CONTROLLED INPUTS */

#controlled-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#controlled-inputs > p {
  max-width: 35rem;
  margin-bottom: 0px;
}

#controlled-inputs > form {
  display: flex;
  flex-direction: column;
  max-width: 17rem;  
}

#controlled-inputs > form > label {
  margin: .25rem;
  display: flex;
  justify-content: space-between;
}

#controlled-inputs > form > label > input {
  margin-left: .25rem;
}

#controlled-inputs > form > button {
  margin: .25rem;
}

/* CUSTOM FORMS */

#custom-forms {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#custom-forms > form {
  max-width: 20rem;
}

.form-field {
  display: flex;
  margin-bottom: .5rem;
}

.wide {
  display: flex;
  justify-content: space-between;
}

.field-name {
  padding-right: .25rem;

}

#custom-forms-name-box {
  width: 100%;
}

#custom-forms-name {
  min-width: 81%;
  max-width: 100%;
}

#custom-forms-submit {
  width: 100%;
}

.age-range:hover {
  text-decoration: underline;
}

#custom-forms > p {
  max-width: 35rem;
  margin-bottom: 0px;
}

/* UPLOAD */

#Upload {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Upload > p {
  max-width: 35rem;
  margin-bottom: 0px;
}

.closer {
  margin-top: 0px;
}

.upload-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file-upload {
  width: 80%;
  position: relative;
}

.upload-button {
  width: 80.25%;
  margin-top: 1rem;
  background: #efefef;
  border: 1px solid #767676;
  border-radius: .25rem;
  padding: .5rem;
}

.upload-button:hover {
  cursor: pointer;
}

.upload-input {
  border: 1px solid #767676;
  border-radius: .25rem;
  padding: .3rem 0;
  width: 100%;
  position: absolute;
  z-index: -1;
  left: 0;
  font-size: .9rem;
  color: rgb(153,153,153);
}

.choose-file-button {
  display: inline-block;
  padding: .35rem .75rem;
  cursor: pointer;
  border: 1px solid #767676;
  border-radius: .25rem 0 0 .25rem;
  background-color: #efefef;
  font-size: .9rem;
}